@charset "UTF-8";
.myheader{
	background-size: cover;
}
.navbar{
	background-color: #0C53AD;
}
.container {
    background-color: aliceblue;
    color: black;
}
.carousel {
    border: medium;    
}

body {
    background-color: #16A7E9;
}
.card {
    color: #000000;	
}
.col { 
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
